{% extends "base.html" %} 
{% load i18n %}


{% block navbar_panel %} 
	{% include "register_login_panel.html" %} 
{% endblock %} 

{% block content %}

<div class="container">

	<div class="well">

		<h2 class="form-signin-heading">{% trans "Paste Candidates Facebook Page Link" %}</h2>
		<div class="form-group">
			<form class="form-signin" role="form" method="post" next="/">
				{% csrf_token %}
				<table>
					{{ form.as_table}}
				</table>
				<input class="btn btn-primary" type="submit" name="Save"
					style="text-align: center" />
			</form>
		</div>
	</div>
</div>

{% endblock %}
