<!--
Copyright 2014 Ari Meidan and Tom Gurion

This file is part of "Games of Knesset".

"Games of Knesset" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Games of Knesset" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Games of Knesset".  If not, see <http://www.gnu.org/licenses/>.
-->


{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
	<div class="well">

		<h2 class="form-signin-heading">{% trans "Enter Candidate Data" %}</h2>
		<div class="form-group">
			<form class="form-signin" role="form" method="post" next="/">
				{% csrf_token %}
				<table>
					{{ form.as_table}}
				</table>
				<input class="btn btn-primary" type="submit" name="Save" value="{% trans 'Submit' %}"
					style="text-align: center" />
			</form>
		</div>
	</div>
</div>

{% endblock %}
