{% extends "base.html" %}
{% load voting %}
{% load i18n %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		{% if user.is_authenticated %}
			<h1>{% trans "Hello," %} {{ user.username }}!</h1>
		{% else %}
			<h1>{% trans "Hello, Voters!" %}</h1>
		{% endif %}
		<p>{% trans "Choose your own Knesset Members, Check the differences between our representitves and what people accually want!" %}</p>
		<p><a href="{% url 'votes:candidates' %}" role="button" class="btn btn-primary btn-lg">{% trans "Start voting now" %} »</a></p>
		
	</div>
</div>

<div class="container">

	<!-- Top 20 Candidates -->
	<h1 align="center">{% trans "Top 20 Candidates" %}</h1>
	<div class="row">
		{% for candidate in top20 %}
			<div class="col-md-2 col-xs-4 text-center">
				<div class="well">
					<p><b><a href="{{ candidate.get_absolute_url }}">{{ candidate.name }}</a></b></p>
					<div class="center-cropped center" style="background-image: url('{{ candidate.image_url}}');">
					</div>
					<form role="form" method="post" action="{% url 'votes:vote' %}" >
						{% csrf_token %}
						{% if user|voted_for:candidate %}
							<button class="btn btn-primary btn-block" type="submit" name="method" value="unvote">{% trans "UnVote" %}</button> 
						{% else %}
							<button class="btn btn-default btn-block" type="submit" name="method" value="vote">{% trans "Vote" %}</button>
						{% endif %}
						<input type="hidden" name="candidate_pk" value="{{ candidate.pk }}">
						<input type="hidden" name="next" value="{% url 'votes:index' %}" />
					</form>
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- Rest 100 Candidates -->
	<h1 align="center">{% trans "Rest 100 Candidates" %}</h1>
	<form role="form" method="post" action="{% url 'votes:batch_vote' %}" >
		{% csrf_token %}
		<div class="row">
			{% for candidate in rest100 %}
				<div class="col-md-3 col-xs-6">
					{% if user|voted_for:candidate %}
						<input type="checkbox" name="candidate_checkbox" value="{{ candidate.pk }}" checked> <a href="{% url 'votes:candidate' candidate.pk %}">{{ candidate.name }}</a>
					{% else %}
						<input type="checkbox" name="candidate_checkbox" value="{{ candidate.pk }}"> <a href="{% url 'votes:candidate' candidate.pk %}">{{ candidate.name }}</a>
					{% endif %}
				</div>
			{% endfor %}
			{% for candidate in top20 %}
				{% if user|voted_for:candidate %}
					<input type="hidden" name="candidate_checkbox" value="{{ candidate.pk }}">
				{% endif %}
			{% endfor %}     
		</div>
		<input class="btn btn-primary btn-block" type="submit" value="{% trans "VOTE" %}" />
	</form>

</div><!-- /container -->

{% endblock %}
