{% extends "base.html" %}
{% load voting %}


{% block navbar_panel %}
	{% include "register_login_panel.html" %}
{% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		{% if user.is_authenticated %}
			<h1> Hello, {{ user.username }}!</h1>
		{% else %}
			<h1>Hello, Voters!</h1>
		{% endif %}
		<p>Choose your own Knesset Members, Check the differences between our representitves and what people accually want!</p>
	</div>
</div>

<div class="container">

	<!-- Top 20 Candidates -->
	<h1 align="center">Top 20 Candidates</h1>
	<div class="row">
		{% for candidate in top20 %}
			<div class="col-md-2 text-center">
				<div class="well">
					<p><b>{{ candidate.name }}</b></p>
					<!-- <p><img class="img-thumbnail" src={{ candidate.image_url}} width="96" height="96"></p> -->
	        <p><img class="img-thumbnail" src="http://www.mouserunner.com/ShinySmileys/angel.png" width="96" height="96"></p>
					<p>
						{% if user|voted_for:candidate %}
							<a class="btn btn-primary" href="{% url 'votes:unvote' candidate.pk %}" role="button">unVote!</a>
						{% else %}
							<a class="btn btn-default" href="{% url 'votes:vote' candidate.pk %}" next="{{request.path}}" role="button">Vote!</a>
						{% endif %}
					</p>
				</div>
			</div>
		{% endfor %} 
	</div>

	<!-- Rest 100 Candidates -->
	<h1 align="center">Rest 100 Candidates</h1>
	<form role="form" method="post" action="{% url 'votes:batch_vote' %}" >
		{% csrf_token %}
		<div class="row">
			{% for candidate in rest100 %}
				<div class="col-md-3 col-xs-6">
					<input type="checkbox" name="candidate_checkbox" value="{{ candidate.pk }}"> {{ candidate.name }}
				</div>
			{% endfor %}    
		</div>
		<input class="btn btn-primary btn-block" type="submit" value="VOTE" />
	</form>

</div><!-- /container -->

{% endblock %}
