<!--
Copyright 2014 Ari Meidan and Tom Gurion

This file is part of "Games of Knesset".

"Games of Knesset" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Games of Knesset" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Games of Knesset".  If not, see <http://www.gnu.org/licenses/>.
-->


{% extends "base.html" %}
{% load static %}
{% load voting %}
{% load i18n %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
{% if user.is_authenticated %}
{% else %}
	<div class="jumbotron">
		<div class="container">
			<h1>{% trans "Hello, Voters!" %}</h1>
			<p>{% trans "Choose your own Knesset Members, Check the differences between our representitves and what people accually want!" %}</p>
		</div>
	</div>
{% endif %}

<div class="container">

	<!-- Top 20 Candidates -->
	<div class="row">
		<div class="col-md-9 col-xs-12 text-center">
			<h1 align="center">{% trans "Top 20 Candidates" %}</h1>
			<div class="row">
				{% for candidate in top20 %}
					<div class="col-md-4 col-xs-6 text-center">
						<div class="well dense">
							<div class="row">
								<div class="col-xs-1 center-cropped center" style="background-image: url('{{ candidate.image_url}}');"></div>
								<div class="with-margins">
									<p><b><a href="{{ candidate.get_absolute_url }}">{{ candidate.name }}</a></b></p>
									<p>{{ candidate.weeks }} {% trans "weeks in top 20!" %}</p>
									<p><button class="align-bottom btn btn-candidate" pk="{{ candidate.pk }}" upvote="{{ user|button_value:candidate }}"></button></p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-3 col-xs-12">
			<h1 align="center">{% trans "New in top 20" %}</h1>
			<h4 align="center">{% trans "Changes since last week" %}</h4>
			<ol class="list-group">
			{% for candidate in fake5in %}
				<li class="list-group-item" style="background-color:rgba(100, 250, 100, 0.4)">
					<a href="{{ candidate.get_absolute_url }}">{{ candidate.name }}</a>
				</li>
			{% endfor %}
			</ol>
		</div>
		<div class="col-md-3 col-xs-12">
			<h1 align="center">{% trans "Out of top 20" %}</h1>
			<h4 align="center">{% trans "Changes since last week" %}</h4>
			<ol class="list-group">
			{% for candidate in fake5out %}
				<li class="list-group-item" style="background-color:rgba(250, 50, 50, 0.4)">
					<a href="{{ candidate.get_absolute_url }}">{{ candidate.name }}</a>
				</li>
			{% endfor %}
			</ol>
		</div>
	</div>

	<!-- Rest 100 Candidates -->
	<h1 align="center">{% trans "Rest 100 Candidates" %}</h1>
	<form role="form" method="post" action="{% url 'votes:batch_vote' %}" >
		{% csrf_token %}
		<div class="row">
			{% for candidate in rest100 %}
				<div class="col-md-3 col-xs-6">
					{% if user|voted_for:candidate %}
						<input type="checkbox" name="candidate_checkbox" value="{{ candidate.pk }}" checked> <a href="{% url 'votes:candidate' candidate.pk %}">{{ candidate.name }}</a>
					{% else %}
						<input type="checkbox" name="candidate_checkbox" value="{{ candidate.pk }}"> <a href="{% url 'votes:candidate' candidate.pk %}">{{ candidate.name }}</a>
					{% endif %}
				</div>
			{% endfor %}
			{% for candidate in top20 %}
				{% if user|voted_for:candidate %}
					<input type="hidden" name="candidate_checkbox" value="{{ candidate.pk }}">
				{% endif %}
			{% endfor %}     
		</div>
		<input class="btn btn-primary btn-block" type="submit" value="{% trans "VOTE" %}" />
	</form>

</div><!-- /container -->

{% endblock %}
