{% extends "base.html" %}

<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
{% include 'django_facebook/_facebook_js.html' %}

{% block content %}

<div class="container">
	<div class="well">
	
		<h2 class="form-signin-heading">Please login</h2>

		<!-- Log in with facebook -->
		<div class="text-center">
			<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
				{% csrf_token %}
				<input type="hidden" value="{{ request.path }}" name="next" />
				<input type="hidden" value="{{ request.path }}" name="register_next" />
				<input type="hidden" value="{{ request.path }}" name="error_next" />
				<input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
			</form>
		</div>

		<!-- Log in with auth user -->
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form class="form-signin" role="form" method="post" action="{% url 'votes:login' %}">
			{% csrf_token %}
			<input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="Password" name="password" required>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		<div class="lead">
			<p>Don't have an account? create one <a href="{% url 'votes:register' %}">here</a></p>
		</div>
	</div>
</div>

{% endblock %}