{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="well">
				<form class="form-signin" role="form" method="POST" action="{% url 'votes:login' %}">
					{% csrf_token %}
					<h2 class="form-signin-heading">Please login</h2>
					<input type="text" class="form-control" placeholder="Email address" required autofocus>
					<input type="password" class="form-control" placeholder="Password" required>
					<label class="checkbox"><input type="checkbox" value="remember-me"> Remember me</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
