{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="well">

		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form class="form-signin" role="form" method="post" action="{% url 'votes:login' %}">
			{% csrf_token %}
			<h2 class="form-signin-heading">Please login</h2>
			<input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="Password" name="password" required>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
			<input type="hidden" name="next" value="{% url 'votes:index' %}" />
		</form>

	</div>
</div>

{% endblock %}