{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
	<div class="well form-signin">

		{% if error %}
			<div style="color: red">{{ error }}</div>
		{% endif %}

		<form class="form-signin" role="form" method="POST">
			{% csrf_token %}
			<h2 class="form-signin-heading">{% trans "Please register" %}</h2>
			<input type="text" class="form-control" placeholder="{% trans "Username" %}" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="{% trans "Password" %}" name="password" required>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Sign up" %}" />
			<input type="hidden" name="next" value="{% url 'votes:index' %}" />
		</form>

	</div>
</div>

{% endblock %}
