<!--
Copyright 2014 Ari Meidan and Tom Gurion

This file is part of "Games of Knesset".

"Games of Knesset" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Games of Knesset" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Games of Knesset".  If not, see <http://www.gnu.org/licenses/>.
-->


{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
	<div class="well">

		<h1>{% trans "The page is still in construction" %}</h1>
		<p>
			{% blocktrans %}Visit again soon to see this cool feature in action!{% endblocktrans %}
		</p>

	</div>
</div>

{% endblock %}
