<!-- <h1>List Of Knesset Members</h1>
<ul>
{% for candidate in candidate_list %}
    <li>{{ candidate.name }}</li>
{% endfor %}
</ul> -->

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Fantasi-Knesset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fantasi Knesset</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Voters!</h1>
        <p>Choose your own Knesset Members, Check the differences between our representitves and what people accually want!</p>
        <p><a class="btn btn-primary btn-lg" role="button">Vote Now &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<h1>Top 20</h1>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>       
		</div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
       </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
