	
	{% extends "base.html" %}

    {% block register_signin %}
		{% include "register_signin.html" %}
    {% endblock %}
    
    
	
	{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, Voters!</h1>
        <p>Choose your own Knesset Members, Check the differences between our representitves and what people accually want!</p>
        <p><a class="btn btn-primary btn-lg" role="button">Vote Now &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<h1>Top 20</h1>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>       
		</div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
       </div>
        <div class="col-md-2">
			<ul>
			{% for candidate in candidate_list %}
			    <li>{{ candidate.name }}</li>
			{% endfor %}
			</ul>
        </div>
      </div>

      <hr>


    </div> <!-- /container -->
    
    {% endblock %}

