{% load i18n %}

{% load facebook_image %}
<div class="navbar-collapse collapse">
	<div class="navbar-left navbar-form">
		{% if user.is_authenticated %}
			<a  href="{% url 'votes:logout' %}" class="btn btn-success">{% trans "Logout" %}</a>
			{% if user.access_token %}
		    <img src="{{ user|fb_image }}" class="img-circle">
			{% endif %}
		{% else %}
			<a  href="{% url 'votes:register' %}" class="btn btn-success">{% trans "Register" %}</a>
			<a  href="{% url 'votes:login' %}" class="btn btn-success">{% trans "Login" %}</a>
		{% endif %}
	</div>
</div>
