div.center-cropped {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 5px;
    border: 2px solid LightGray;
    background-position: center center;
    background-size: cover;
}

footer{
	background: #333;
	color: #fff;
	padding: 2em auto;
	text-align:center;
	margin-top:2em;
}

.well.dense{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin: 0.25em;
}

div.with-margins{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Login */
.form-signin {
  text-align:center;
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* D3 charts */
svg {
    font: 10px sans-serif;
}

path {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}/* D3 charts */
